<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="goBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>文件信息</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="md-reorder"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list inset>
    <ion-item (click)="openFileDetailsModal()">
    <p>123</p>
    <p>123</p>
    <p>123 123 123</p>
    </ion-item>
    <ion-item (click)="openFileDetailsModal()">
        <p>123</p>
        <p>123</p>
        <p>123 123 123</p>
        </ion-item>
  </ion-list>
</ion-content>
