<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal"  (click)="goBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>项目信息</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="md-reorder"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>项目编号</ion-label>
      <ion-input  readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>项目名称</ion-label>
      <ion-input  readonly value="1231233333333333333333333333333333333333"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>项目经理</ion-label>
      <ion-input  readonly value="工程"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>项目级别</ion-label>
      <ion-input  readonly value="一般"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>运行状态</ion-label>
      <ion-input  readonly value="一般"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>项目类型</ion-label>
      <ion-input  readonly value="一般"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>主管领导</ion-label>
      <ion-input  readonly value="一般"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
