<ion-header>
  <ion-toolbar>
    <ion-title>
      文件详情
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">取消</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>档案号</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>文件名称</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>A0</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>A1</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>A2</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>A3</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>A4</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>白图份数</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>蓝图份数</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>彩图份数</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>共需份数</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>装订份数</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>发送份数</ion-label>
      <ion-input readonly value="撒旦飞洒地方"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
